import { CheckOutlined, CloseCircleOutlined, CloseOutlined, LeftOutlined, SaveOutlined } from "@ant-design/icons";
import { Button, Card, Col, DatePicker, Form, Input, InputNumber, Row, Select, Space, Spin, Switch, TimePicker, Typography } from "antd";
import dayjs from "dayjs";
import customParseFormat from "dayjs/plugin/customParseFormat";
import { find, get } from "lodash";
import React from "react";
import { useDispatch } from "react-redux";
import validator from "validator";
import ServerSideSearch from "../../../components/UIComponents/Search/serverSideSearch";
import { openNotificationWithIcon } from "../../../components/UIComponents/Toast/notification";
import { API_PATH } from "../../../constants/service";
import Common from "../../../helpers/request/Common";
import { setCurrentView } from "../../../store/Auth/auth.actions";
import { validateValues } from "../../Validation/validation";
import { ValidationCheckValues, defaultConsumerDataValue } from "./constant";
dayjs.extend(customParseFormat);

const getDetails = async (URL) => {
  return Common.getDetails(URL)
    .then((res) => {
      return res;
    })
    .catch((er) => {
      // eslint-disable-next-line no-console
      console.log(er);
    });
};

const getDataSource = async (URL, payload) => {
  return Common.getDataSource(URL, payload)
    .then((res) => {
      return res;
    })
    .catch((err) => {
      // eslint-disable-next-line no-console
      console.log(er);
    });
};

const AddConsumer = (props) => {
  const dispatch = useDispatch();
  const { history, record } = props;
  const [error, updateError] = React.useState({});
  const [consumerData, updateConsumerDataData] = React.useState({ ...defaultConsumerDataValue });
  const [isLoading, setIsLoading] = React.useState(false);
  const [disableSubmit, setDisableSubmit] = React.useState(true);
  const [validateMsg, setvalidateMsg] = React.useState("");
  const [billcycle,setBillCycles]=React.useState([]);

    React.useEffect(() => {
    if (!get(props, "isEdit")) {
      dispatch(setCurrentView(getTitle()));
    }
  }, []);

  React.useEffect(() => {
    if (record) {
      let customerDetails = { ...get(consumerData, "consumer_details") };
      let meteringDetails = { ...get(consumerData, "metering_details") };
      let otherDetails = { ...get(consumerData, "other_details") };

      Object.keys(customerDetails).map((li) => {
        customerDetails[li] = get(record, li);
      });

      Object.keys(meteringDetails).map((li) => {
        let currentVal = get(record, li);
        if (li === "installationdate" || li === "installationtime") {
          currentVal = dayjs(currentVal);
        }

        meteringDetails[li] = currentVal;
      });

      Object.keys(otherDetails).map((li) => {
        let currentVal = get(record, li);
        if (li === "dtrid") {
          otherDetails["nwid"] = currentVal;
        }
        otherDetails[li] = get(record, li);
      });

      updateConsumerDataData({
        consumer_details: customerDetails,
        metering_details: meteringDetails,
        other_details: otherDetails,
      });
    }
  }, [props]);

  const getTitle = () => {
    return (
      <div>
        <Typography.Title level={4} className="m-0 font-weight-bold">
          Consumer Configuration
        </Typography.Title>
        <Typography.Text strong style={{ color: "#8a7f7f" }}>
          Creation
        </Typography.Text>
      </div>
    );
  };

  const getDataSourcePayload = () => {
    const requestPayload = {
      ...get(consumerData, "consumer_details"),
      ...get(consumerData, "metering_details"),
      ...get(consumerData, "other_details"),
    };

    requestPayload["msn"] = get(consumerData, "metering_details.msn.label");
    requestPayload["nwid"] = get(consumerData, "other_details.nwid.value");
    requestPayload["dtrid"] = get(consumerData, "other_details.nwid.value");
    requestPayload["mid"] = get(consumerData, "metering_details.msn.value");
    requestPayload["orgid"] = get(consumerData, "other_details.orgid.value");
    requestPayload["substationid"] = get(consumerData, "other_details.substationid.value");
    requestPayload["installationdate"] = dayjs(get(consumerData, "metering_details.installationdate")).format("YYYY-MM-DD");
    return requestPayload;
  };

<!-- dummy Data  -->
  const handleReset = () => {
    updateConsumerDataData({
      consumer_details: {
        cname: "",
        fathername: "",
        addres: "",
        pincode: "",
        phoneno: "",
        landlineno: "",
        emailid: "",
        rrnumber: "",
        servicepoint_id: "",
        acc_id: "",
        sl: "",
        cd: "",
        sl_id: "",
        bill_day: null,
        billcycleid: null,
        tariffid: null,
        connstatus_id: null,
        paymenttype_id: null,
      },
      metering_details: {
        hesid: null,
        mid: null,
        isnetmeter: false,
        phaseid: null,
        makeid: null,
        msn: null,
        mf: "",
        mect: "",
        mept: "",
        meterct: "",
        meterpt: "",
        dial_factor: "",
        seal1: "",
        seal2: "",
        seal3: "",
        seal4: "",
        seal5: "",
        seal6: "",
        seal7: "",
        seal8: "",
        installationdate: "",
        installationtime: "",
        initialreading: "",
        comm_id: null,
        operationid: null,
      },
      other_details: {
        orgid: null,
        substationid: null,
        feederid: null,
        nwid: null,
        dtrid: null,
        isdcu: false,
        dcuid: null,
        supply_vtg_id: null,
        latitude: "",
        longitude: "",
        tod_id: null,
        nearest_accountid: "",
        natureofbusiness: "",
      }
    });
  }
  
  const updateDataSource = async (URL, payload) => {
    return Common.updateDataSource(URL, payload)
      .then((res) => {
        return res;
      })
      .catch((er) => {
        // eslint-disable-next-line no-console
        console.log(er);
      });
  };

  const handleSubmit = async () => { 
    if(record){
      const billCyclesList = await getDetails(API_PATH.Configuration.Consumer.getBillCycle);
      const billcycleid=find(billCyclesList,function(n) { 
        if (record.billcycle === n.billcycle) { 
            return n.billcycleid; 
        } 
    });
      const requestPayload = getDataSourcePayload();
      !requestPayload["cnsrid"]?requestPayload["cnsrid"]=record.cnsrid:requestPayload["cnsrid"]=consumerData.consumer_details.cnsrid
      !requestPayload["billcycleid"]?requestPayload["billcycleid"]=billcycleid.billcycleid:requestPayload["billcycleid"]=consumerData.consumer_details.billcycleid
      !requestPayload["dtrid"]?requestPayload["dtrid"]=record.dtrid:requestPayload["dtrid"]=consumerData.other_details.dtrid;
      !requestPayload["mid"]?requestPayload["mid"]=record.mid:requestPayload["mid"]=consumerData.metering_details.mid;
      !requestPayload["msn"]?requestPayload["msn"]=record.msn:requestPayload["msn"]=consumerData.metering_details.msn;
      !requestPayload["nwid"]?requestPayload["nwid"]=record.dtrid:requestPayload["nwid"]=consumerData.other_details.dtrid;
      !requestPayload["substationid"]?requestPayload["substationid"]=record.substationid:requestPayload["substationid"]=consumerData.other_details;
      !requestPayload["dcuid"]?requestPayload["dcuid"]=record.dcuname:requestPayload["dcuid"]=consumerData.other_details.dcuid;
      !requestPayload["orgid"] ? requestPayload["orgid"]=record.orgid:requestPayload["orgid"] = consumerData.other_details.orgid.value;
      if(requestPayload.pincode===null){
        requestPayload["pincode"]=0;
      }
      if(requestPayload.landlineno===null){
        requestPayload["landlineno"]=0;
      }
      if(requestPayload.isnetmeter==="yes"){
        requestPayload["isnetmeter"]=true;
      }else{
        requestPayload["isnetmeter"]=false;
      }
      if(requestPayload.isdcu==="yes"){
        requestPayload["isdcu"]=true;
      }else{
        requestPayload["isdcu"]=false;
      }
      if(record){
        if (!validateValues(requestPayload, "consumer")) {
          setIsLoading(false);
          return;
        }
      }
    const approvalStatusResp = await updateDataSource(API_PATH.Configuration.Consumer.update, requestPayload);
    setIsLoading(false);
    if (!get(approvalStatusResp, "status")) {
      openNotificationWithIcon("warning", get(approvalStatusResp, "message", "Something went wrong"));
    }
    else{
      openNotificationWithIcon("success", get(approvalStatusResp, "message", "Updated Successfully"));
      // history.push("/configuration/consumer");
     }
    }else{
      if (validateMsg === "") {
        const requestPayload = getDataSourcePayload();
        // validation
        if(requestPayload.pincode===null){
          requestPayload["pincode"]=0;
        }
        if(requestPayload.landlineno===null){
          requestPayload["landlineno"]=0;
        }
        if(requestPayload.isnetmeter==="yes"){
          requestPayload["isnetmeter"]=true;
        }else{
          requestPayload["isnetmeter"]=false;
        }
        if(requestPayload.isdcu==="yes"){
          requestPayload["isdcu"]=true;
        }else{
          requestPayload["isdcu"]=false;
        }
        if(!record){
          if (!validateValues(requestPayload, "consumer")) {
            setIsLoading(false);
            return;
          }
        }
        const finalDataResp = await getDataSource(API_PATH.Configuration.Consumer.add, requestPayload);
        if (get(finalDataResp, "data.status")) {
          setIsLoading(false);
          openNotificationWithIcon("success", get(finalDataResp, "data.message", "Added Successfully"));
          history.push("/configuration/consumer");
        }
        if (!get(finalDataResp, "status")) {
          setIsLoading(false);
        }
      } else {
        openNotificationWithIcon("error", `${validateMsg}`);
        setIsLoading(false);
      }
    }
    
  };

  const handleValidation = (name, value, deepKey) => {
    let newValues = { ...consumerData };
    newValues[deepKey][name] = value;
    let newErrorValues = { ...error };
    newErrorValues[name] = false;

    switch (name) {
      case "pincode":
        if (!/^\d{6}$/.test(value) && value!=null) {
          newErrorValues[name] = "Invalid Pin Code (6 digits required)";
          setvalidateMsg("");
        }
        else {
          newErrorValues[name] = "";
          newValues[deepKey][name] = value;
          setvalidateMsg("");
        }
        break;
      case "phoneno":
        if (!/^\d{10}$/.test(value) && value!=null) {
          newErrorValues[name] = "Invalid Mobile No (10 digits required)";
          setvalidateMsg(`Invalid ${name}`);
        } else {
          newErrorValues[name] = "";
          newValues[deepKey][name] = value;
          setvalidateMsg("");
        }
        break;
      case "landlineno":
        if (!/^\d{12}$/.test(value) && value!=null) {
          newErrorValues[name] = "Invalid Landline No (12 digits required)";
          setvalidateMsg(`Invalid ${name}`);
        } else {
          newErrorValues[name] = "";
          newValues[deepKey][name] = value;
          setvalidateMsg("");
        }
        break;
      case "emailid":
        if (!/^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})$/.test(value) && value!="") {
          newErrorValues[name] = "Invalid Landline No (12 digits required)";
          setvalidateMsg(`Invalid ${name}`);
        } else {
          newErrorValues[name] = "";
          newValues[deepKey][name] = value;
          setvalidateMsg("");
        }
        break;
      case "mf":
        if (!/^[0-9]*\.?[0-9]*$/.test(value)) {
          newErrorValues[name] = "Invalid MF";
          setvalidateMsg(`Invalid ${name}`);
        } else {
          newErrorValues[name] = "";
          newValues[deepKey][name] = value;
          setvalidateMsg("");
        }
        break;
      case "mect":
        if (!/^[0-9]*\.?[0-9]*$/.test(value)) {
          newErrorValues[name] = "Invalid MECT";
          setvalidateMsg(`Invalid ${name}`);
        } else {
          newErrorValues[name] = "";
          newValues[deepKey][name] = value;
          setvalidateMsg("");
        }
        break;
      case "mept":
        if (!/^[0-9]*\.?[0-9]*$/.test(value)) {
          newErrorValues[name] = "Invalid MEPT";
          setvalidateMsg(`Invalid ${name}`);
        } else {
          newErrorValues[name] = "";
          newValues[deepKey][name] = value;
          setvalidateMsg("");
        }
        break;
      case "meterct":
        if (!/^[0-9]*\.?[0-9]*$/.test(value)) {
          newErrorValues[name] = "Invalid Meter CT";
          setvalidateMsg(`Invalid ${name}`);
        } else {
          newErrorValues[name] = "";
          newValues[deepKey][name] = value;
          setvalidateMsg("");
        }
        break;
      case "meterpt":
        if (!/^[0-9]*\.?[0-9]*$/.test(value)) {
          newErrorValues[name] = "Invalid MeterPT";
          setvalidateMsg(`Invalid ${name}`);
        } else {
          newErrorValues[name] = "";
          newValues[deepKey][name] = value;
          setvalidateMsg("");
        }
        break;
      case "latitude":
        if (!/^(-?\d{1,2}(\.\d+)?|90(\.0+)?)$/.test(value)) {
          newErrorValues[name] = "Invalid latitude (range should be[-90, 90])";
          setvalidateMsg(`Invalid ${name}`);
        } else {
          newErrorValues[name] = "";
          newValues[deepKey][name] = value;
          setvalidateMsg("");
        }
        break;
      case "longitude":
        if (!/^-?((0?\d{1,2}(\.\d+)?)|([1-9]\d{0,2}(\.\d+?)?|1[0-7]\d{0,1}(\.\d+?)?|180(\.0+?)?))$/.test(value)) {
          newErrorValues[name] = "Invalid longitude (range should be [-180, 180])";
          setvalidateMsg(`Invalid ${name}`);
        } else {
          newErrorValues[name] = "";
          newValues[deepKey][name] = value;
          setvalidateMsg("");
        }
        break;
      default:
        newErrorValues[name] = "";
        newValues[deepKey][name] = value;
    }
    updateConsumerDataData(newValues);
    updateError(newErrorValues);
  }

  React.useEffect(() => {
    const requestPayload = getDataSourcePayload();
    const checkValue = find(ValidationCheckValues, function (o) {
      return !get(requestPayload, o);
    });
    if (checkValue) {
      setDisableSubmit(true);
    } else {
      setDisableSubmit(false);
    }
  }, [consumerData]);

  return (
    <Spin spinning={isLoading}>
      <div className={get(props, "isEdit", false) ? "p-0" : "p-4"}>
        {get(props, "topCTA", true) && (
          <div
            className="d-flex align-items-center"
            style={{
              flexDirection: "column",
            }}
          >
            <Button
              size="middle"
              icon={<LeftOutlined />}
              style={{
                alignSelf: "flex-end",
              }}
              onClick={() => history.push("/configuration/consumer")}
            >
              Go to Listing
            </Button>
          </div>
        )}
        <div className="rounded">
          <ConsumerDetails isLoading={isLoading} handleValidation={handleValidation} error={error} record={record} consumerData={consumerData} updateConsumerDataData={updateConsumerDataData} />
          <MeteringDetails isLoading={isLoading} handleValidation={handleValidation} error={error} record={record} consumerData={consumerData} updateConsumerDataData={updateConsumerDataData} />
          <OtherDetails isLoading={isLoading} handleValidation={handleValidation} error={error} record={record} consumerData={consumerData} updateConsumerDataData={updateConsumerDataData} />
          <div
            className="d-flex align-items-center"
            style={{
              flexDirection: "column",
            }}
          >
            <Space
              style={{
                alignSelf: "flex-end",
              }}
              size="middle"
            >
              <Button
                icon={<CloseCircleOutlined />}
                size="middle"
                onClick={() => {
                  handleReset();
                }}
              >
                Reset
              </Button>
              <Button
                // disabled={disableSubmit}
                icon={<SaveOutlined />}
                type="primary"
                size="middle"
                onClick={() => {
                  setIsLoading(true);
                  handleSubmit();
                }}
              >
                Submit
              </Button>
            </Space>
          </div>
        </div>
      </div>
    </Spin>
  );
};

const ConsumerDetails = (props) => {
  let { consumerData, updateConsumerDataData, handleValidation, error,record } = props;
  const [billCycles, setBillCycles] = React.useState([]);
  const [billDayList, setBillDayList] = React.useState([]);
  const [tariffList, setTariffList] = React.useState([]);
  const [connectionList, setConnectionList] = React.useState([]);
  const [paymentTypeList, setPaymentTypeList] = React.useState([]);
  const [sanctionLoadUnitList, setSanctionLoadUnitList] = React.useState([]);

  React.useEffect(() => {
    const options = [];
    for (let i = 1; i <= 28; i++) {
      options.push(i);
    }
    setBillDayList(options);
  }, []);

  const handleChange = React.useCallback((name, value, deepKey) => {
    handleValidation(name, value, deepKey);
  });

  const handleBlur = React.useCallback((name, value) => {
    let newErrorValues = { ...error };
    newErrorValues[name] = false;

    if (name === "emailid" && !validator.isEmail(value)) {
      newErrorValues[name] = true;
    }
  });

  const getBillCycle = async () => {
    const billCyclesList = await getDetails(API_PATH.Configuration.Consumer.getBillCycle);
    setBillCycles(billCyclesList);
  };

  const getTariffList = async () => {
    const tariffListArr = await getDetails(API_PATH.Configuration.Master.Tariff.getList);
    setTariffList(get(tariffListArr, "data", []));
  };

  const getConnectionStatusList = async () => {
    const connectionListArr = await getDetails(API_PATH.Master.connectionType);
    setConnectionList(connectionListArr);
  };

  const getSanctionLoadUnitList = async () => {
    const sanctionLoadUnitListArr = await getDetails(API_PATH.Master.sanctionLoadType);
    setSanctionLoadUnitList(sanctionLoadUnitListArr);
  };

  const getPaymentTypeList = async () => {
    const paymentTypeListArr = await getDetails(API_PATH.Master.paymentType);
    setPaymentTypeList(paymentTypeListArr);
  };

  return (
    <Card
      bordered={false}
      className="mt-3 mb-3"
      hoverable
      title={
        <Typography.Title level={5} className="m-0 font-weight-bold">
          Consumer Details
        </Typography.Title>
      }
    >
      <Spin spinning={props.isLoading}>
        <Form name="customized_form_controls " className="w-100 mt-0" layout="vertical">
          <Row gutter={[16, 16]}>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Name" required className="m-0">
                <Input
                  maxLength={30}
                  placeholder="Name" value={get(consumerData, "consumer_details.cname")} onChange={(e) => handleChange("cname", e.target.value, "consumer_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Father Name" required className="m-0">
                <Input
                  maxLength={30} placeholder="Father Name" value={get(consumerData, "consumer_details.fathername")} onChange={(e) => handleChange("fathername", e.target.value, "consumer_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Address" required className="m-0">
                <Input.TextArea maxLength={100}
                  placeholder="Address" value={get(consumerData, "consumer_details.addres")} autoSize onChange={(e) => handleChange("addres", e.target.value, "consumer_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item
                label="Pin Code"
                className="m-0"
                validateStatus={error["pincode"] ? "error" : ""}
                help={error["pincode"]}
              >
                <InputNumber
                  maxLength={6}
                  className="w-100"
                  onBlur={(e) => handleBlur("pincode", e.target.value)}
                  placeholder="Pin Code"
                  value={get(consumerData, "consumer_details.pincode")}
                  onChange={(value) => handleChange("pincode", value, "consumer_details")}
                />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item
                label="Mobile No"
                required
                className="m-0"
                validateStatus={error["phoneno"] ? "error" : ""}
                help={error["phoneno"]}
              >
                <InputNumber
                  maxLength={10}
                  className="w-100"
                  placeholder="Mobile No"
                  value={get(consumerData, "consumer_details.phoneno")}
                  onChange={(value) => handleChange("phoneno", value, "consumer_details")}
                />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item
                label="Landline No"
                className="m-0"
                validateStatus={error["landlineno"] ? "error" : ""}
                help={error["landlineno"]}
              >
                <InputNumber
                  maxLength={12}
                  className="w-100"
                  placeholder="Landline No"
                  value={get(consumerData, "consumer_details.landlineno")}
                  onChange={(value) => handleChange("landlineno", value, "consumer_details")}
                />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Email" required className="m-0" validateStatus={get(error, "emailid") && "error"} help={get(error, "emailid") && "Invalid Email"}>
                <Input
                  placeholder="Email"
                  value={get(consumerData, "consumer_details.emailid")}
                  onBlur={(e) => handleBlur("emailid", e.target.value)}
                  onChange={(e) => handleChange("emailid", e.target.value, "consumer_details")}
                />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="RR Number" required className="m-0">
                <Input placeholder="RR Number"
                disabled={record}
                 value={get(consumerData, "consumer_details.rrnumber")} onChange={(e) => handleChange("rrnumber", e.target.value, "consumer_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Service Point" required className="m-0">
                <Input
                  placeholder="Service Point"
                  value={get(consumerData, "consumer_details.servicepoint_id")}
                  onChange={(e) => handleChange("servicepoint_id", e.target.value, "consumer_details")}
                />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Account ID" required className="m-0">
                <Input placeholder="Account ID"
                disabled={record} value={get(consumerData, "consumer_details.acc_id")} onChange={(e) => handleChange("acc_id", e.target.value, "consumer_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Sanction Load"
                required className="m-0"
                validateStatus={error["sl"] ? "error" : ""}
                help={error["sl"]}>
                <InputNumber
                  formatter={value =>
                    value !== undefined
                      ? `${value}`.replace(/[^0-9.]/g, "").replace(/(\.\d{1,3})\d*$/, "$1")
                      : ""
                  }
                  parser={value =>
                    value !== undefined
                      ? `${value}`.replace(/[^0-9.]/g, "").replace(/(\.\d{1,3})\d*$/, "$1")
                      : ""
                  }
                  className="w-100" placeholder="Sanction Load" value={get(consumerData, "consumer_details.sl")} onChange={(value) => handleChange("sl", value, "consumer_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Sanction Load Unit" required className="m-0">
                <Select
                  placeholder="Sanction Load Unit"
                  allowClear
                  onDropdownVisibleChange={() => {
                    if (sanctionLoadUnitList.length === 0) {
                      getSanctionLoadUnitList();
                    }
                  }}
                  className="w-100"
                  value={sanctionLoadUnitList.length > 0 ? get(consumerData, "consumer_details.sl_id", null) : get(props, "record.sl_id", null)}
                  onChange={(val) => handleChange("sl_id", val, "consumer_details")}
                >
                  {sanctionLoadUnitList.map((list, index) => {
                    return (
                      <Select.Option value={get(list, "sl_id")} key={get(list, "sl_id")}>
                        {get(list, "sl_type")}
                      </Select.Option>
                    );
                  })}
                </Select>
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Contract Demand" required className="m-0 ">
                <Input placeholder="Contract Demand" className="w-100" value={get(consumerData, "consumer_details.cd")} onChange={(e) => handleChange("cd", e.target.value, "consumer_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Bill Day" required className="m-0">
                <Select
                  placeholder="Bill Day"
                  allowClear
                  className="w-100"
                  value={get(consumerData, "consumer_details.bill_day")}
                  onChange={(val) => handleChange("bill_day", val, "consumer_details")}
                >
                  {billDayList.map((list, index) => {
                    return (
                      <Select.Option value={list} key={list}>
                        {list}
                      </Select.Option>
                    );
                  })}
                </Select>
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Bill Cycle" required className="m-0">
                <Select
                  placeholder="Bill Cycle"
                  allowClear
                  onDropdownVisibleChange={() => {
                    if (billCycles.length === 0) {
                      getBillCycle();
                    }
                  }}
                  className="w-100"
                  value={billCycles.length > 0 ? get(consumerData, "consumer_details.billcycleid", null) : get(props, "record.billcycle", null)}
                  onChange={(val) => handleChange("billcycleid", val, "consumer_details")}
                >
                  {billCycles.map((list, index) => {
                    return (
                      <Select.Option value={get(list, "billcycleid")} key={get(list, "billcycleid")}>
                        {get(list, "billcycle")}
                      </Select.Option>
                    );
                  })}
                </Select>
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Tariff" required className="m-0">
                <Select
                  placeholder="Tariff"
                  allowClear
                  onDropdownVisibleChange={() => {
                    if (tariffList.length === 0) {
                      getTariffList();
                    }
                  }}
                  filterOption={(input, option) => (option?.children ?? "").toLowerCase().includes(input.toLowerCase())}
                  showSearch
                  className="w-100"
                  value={tariffList.length > 0 ? get(consumerData, "consumer_details.tariffid", null) : get(props, "record.tariffname", null)}
                  onChange={(val) => handleChange("tariffid", val, "consumer_details")}
                >
                  {tariffList.map((list, index) => {
                    return (
                      <Select.Option value={get(list, "tariffid")} key={get(list, "tariffid")}>
                        {get(list, "tariffname")}
                      </Select.Option>
                    );
                  })}
                </Select>
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Connection Status" required className="m-0">
                <Select
                  placeholder="Connection Status"
                  allowClear
                  loading={false}
                  showSearch
                  onDropdownVisibleChange={() => {
                    if (connectionList.length === 0) {
                      getConnectionStatusList();
                    }
                  }}
                  value={connectionList.length > 0 ? get(consumerData, "consumer_details.connstatus_id", null) : get(props, "record.connstatus", null)}
                  className="w-100"
                  onChange={(val) => handleChange("connstatus_id", val, "consumer_details")}
                >
                  {connectionList.map((list, index) => {
                    return (
                      <Select.Option value={get(list, "connstatus_id")} key={get(list, "connstatus_id")}>
                        {get(list, "connstatus")}
                      </Select.Option>
                    );
                  })}
                </Select>
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Payment Type" required className="m-0">
                <Select
                  placeholder="Payment Type"
                  allowClear
                  onDropdownVisibleChange={() => {
                    if (paymentTypeList.length === 0) {
                      getPaymentTypeList();
                    }
                  }}
                  value={paymentTypeList.length > 0 ? get(consumerData, "consumer_details.paymenttype_id", null) : get(props, "record.paymenttype", null)}
                  className="w-100"
                  onChange={(val) => handleChange("paymenttype_id", val, "consumer_details")}
                >
                  {paymentTypeList.map((list, index) => {
                    return (
                      <Select.Option value={get(list, "paymenttype_id")} key={get(list, "paymenttype_id")}>
                        {get(list, "paymenttype")}
                      </Select.Option>
                    );
                  })}
                </Select>
              </Form.Item>
            </Col>
          </Row>
        </Form>
      </Spin>
    </Card>
  );
};

const MeteringDetails = (props) => {
  let { consumerData, updateConsumerDataData, handleValidation, error,record } = props;
  const [departmentList, setDepartmentList] = React.useState([]);
  const [meterPhaseList, setMeterPhaseList] = React.useState([]);
  const [meterMakeList, setMeterMakeList] = React.useState([]);
  const [msnList, setMSNList] = React.useState([]);
  const [communicationList, setCommunicationList] = React.useState([]);
  const [operationList, setOperationList] = React.useState([]);

  const [isDropDownLoading, setIsDropDownLoading] = React.useState({
    department: false,
    meter_phase: false,
    meter_make: false,
    msn: false,
    communication: false,
    operations: false,
  });

  const handleChange = React.useCallback((name, value, deepKey) => {
    handleValidation(name, value, deepKey);
    let newValues = { ...consumerData };
    newValues[deepKey][name] = value;
    const { hesid, makeid, phaseid } = get(newValues, "metering_details");
    if (hesid && phaseid && makeid) {
      getMSNList();
    }
  });

  const getDepartmentList = async () => {
    const departmentListArr = await getDetails(API_PATH.Master.hes);
    let loadingItems = { ...isDropDownLoading };
    loadingItems["department"] = false;
    setIsDropDownLoading(loadingItems);
    setDepartmentList(departmentListArr);
  };

  const getMeterPhaseList = async () => {
    const meterPhaseListArr = await getDetails(API_PATH.Configuration.Meter.getMeterPhase);
    let loadingItems = { ...isDropDownLoading };
    loadingItems["meter_phase"] = false;
    setIsDropDownLoading(loadingItems);
    setMeterPhaseList(meterPhaseListArr);
  };

  const getMeterMakeList = async () => {
    const meterMakeListArr = await getDetails(API_PATH.Configuration.Meter.getMeterMake);
    let loadingItems = { ...isDropDownLoading };
    loadingItems["meter_make"] = false;
    setIsDropDownLoading(loadingItems);
    setMeterMakeList(meterMakeListArr);
  };

  const getMSNList = async (msn) => {
    const requestPayload = {
      hesid: get(consumerData, "metering_details.hesid", ""),
      phaseid: get(consumerData, "metering_details.phaseid", ""),
      makeid: get(consumerData, "metering_details.makeid", ""),
      msn,
    };
    const msnListArr = await getDataSource(API_PATH.Configuration.Meter.getMSN, requestPayload);
    let loadingItems = { ...isDropDownLoading };
    loadingItems["msn"] = false;
    setIsDropDownLoading(loadingItems);
    setMSNList(get(msnListArr, "data", []));
    if (msn) {
      return get(msnListArr, "data", []).map((o) => {
        return {
          label: get(o, "msn"),
          value: get(o, "mid"),
        };
      });
    }
  };

  const getCommunicationList = async () => {
    const communicationListArr = await getDetails(API_PATH.Master.communication);
    let loadingItems = { ...isDropDownLoading };
    loadingItems["communication"] = false;
    setIsDropDownLoading(loadingItems);
    setCommunicationList(communicationListArr);
  };

  const getOperationList = async () => {
    const operationListArr = await getDetails(API_PATH.Master.operation);
    let loadingItems = { ...isDropDownLoading };
    loadingItems["operations"] = false;
    setIsDropDownLoading(loadingItems);
    setOperationList(operationListArr);
  };

  return (
    <Card
      bordered={false}
      className="mt-3 mb-3"
      hoverable
      title={
        <Typography.Title level={5} className="m-0 font-weight-bold">
          Metering Details
        </Typography.Title>
      }
    >
      <Spin spinning={props.isLoading}>
        <Form name="customized_form_controls " className="w-100 mt-0" layout="vertical">
          <Row gutter={[16, 16]}>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Department Type" required className="m-0">
                <Select
                  placeholder="Department Type"
                  value={departmentList.length > 0 ? get(consumerData, "metering_details.hesid", null) : get(props, "record.hesname", null)}
                  allowClear
                  disabled={record}
                  loading={get(isDropDownLoading, "department", false)}
                  onDropdownVisibleChange={() => {
                    if (departmentList.length === 0) {
                      let loadingItems = { ...isDropDownLoading };
                      loadingItems["department"] = true;
                      setIsDropDownLoading(loadingItems);
                      getDepartmentList();
                    }
                  }}
                  className="w-100"
                  onChange={(val) => handleChange("hesid", val, "metering_details")}
                >
                  {departmentList.length > 0 &&
                    departmentList
                      .filter((li) => get(li, "isactive"))
                      .map((list, index) => {
                        return (
                          <Select.Option value={get(list, "hesid")} key={get(list, "hesid")}>
                            {get(list, "hesname")}
                          </Select.Option>
                        );
                      })}
                </Select>
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Meter Phase" required className="m-0">
                <Select
                  placeholder="Meter Phase"
                  allowClear
                  disabled={record}
                  className="w-100"
                  loading={get(isDropDownLoading, "meter_phase", false)}
                  value={meterPhaseList.length > 0 ? get(consumerData, "metering_details.phaseid", null) : get(props, "record.phase", null)}
                  onChange={(val) => handleChange("phaseid", val, "metering_details")}
                  onDropdownVisibleChange={() => {
                    if (meterPhaseList.length === 0) {
                      let loadingItems = { ...isDropDownLoading };
                      loadingItems["meter_phase"] = true;
                      setIsDropDownLoading(loadingItems);
                      getMeterPhaseList();
                    }
                  }}
                >
                  {meterPhaseList.length > 0 &&
                    meterPhaseList
                      .filter((li) => get(li, "isactive"))
                      .map((list, index) => {
                        return (
                          <Select.Option value={get(list, "phaseid")} key={get(list, "phaseid")}>
                            {get(list, "phase")}
                          </Select.Option>
                        );
                      })}
                </Select>
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Meter Make" required className="m-0">
                <Select
                  placeholder="Meter Make"
                  allowClear
                  className="w-100"
                  disabled={record}
                  loading={get(isDropDownLoading, "meter_make", false)}
                  value={meterMakeList.length > 0 ? get(consumerData, "metering_details.makeid", null) : get(props, "record.make", null)}
                  onChange={(val) => handleChange("makeid", val, "metering_details")}
                  onDropdownVisibleChange={() => {
                    if (meterMakeList.length === 0) {
                      let loadingItems = { ...isDropDownLoading };
                      loadingItems["meter_make"] = true;
                      setIsDropDownLoading(loadingItems);
                      getMeterMakeList();
                    }
                  }}
                >
                  {meterMakeList.length > 0 &&
                    meterMakeList
                      .filter((li) => get(li, "isactive"))
                      .map((list, index) => {
                        return (
                          <Select.Option value={get(list, "makeid")} key={get(list, "makeid")}>
                            {get(list, "make")}
                          </Select.Option>
                        );
                      })}
                </Select>
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="MSN" required className="m-0">
                <ServerSideSearch
                  placeholder="MSN"
                  handleChange={(val) => handleChange("msn", val, "metering_details")}
                  value={msnList.length > 0 ? get(consumerData, "metering_details.msn", null) : get(props, "record.msn", null)}
                  disabled={msnList.length === 0}
                  loading={get(isDropDownLoading, "msn", false)}
                  fetchResult={(val) => getMSNList(val)}
                />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 8 }}>
              <Form.Item label="Installation Date & Time" required className="m-0">
                <Row gutter={[16, 16]}>
                  <Col xs={{ span: 24 }} md={{ span: 12 }}>
                    <DatePicker
                      defaultValue={dayjs()}
                      format="YYYY-MM-DD"
                      value={get(consumerData, "metering_details.installationdate", "")}
                      placeholder="Installation Date"
                      className="w-100"
                      onChange={(date) => handleChange("installationdate", date, "metering_details")}
                    />
                  </Col>
                  <Col xs={{ span: 24 }} md={{ span: 12 }}>
                    <TimePicker
                      format="HH:mm"
                      placeholder="Installation Time"
                      onChange={(time, timeString) => handleChange("installationtime", timeString, "metering_details")}
                      // value={dayjs(get(consumerData, "metering_details.installationtime"), "HH:mm")}
                      className="w-100"
                    />
                  </Col>
                </Row>
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Net Meter" required className="m-0">
                <Switch checkedChildren={<CheckOutlined />} unCheckedChildren={<CloseOutlined />} onChange={(checked) => handleChange("isnetmeter", checked, "metering_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item
                label="MF"
                validateStatus={error["mf"] ? "error" : ""}
                help={error["mf"]}
                required
                className="m-0"
              >
                <Input
                  placeholder="MF"
                  value={get(consumerData, "metering_details.mf", "")}
                  onChange={(e) => handleChange("mf", e.target.value, "metering_details")}
                />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="MECT"
                validateStatus={error["mect"] ? "error" : ""}
                help={error["mect"]}
                required className="m-0">
                <Input placeholder="MECT" value={get(consumerData, "metering_details.mect", "")} onChange={(e) => handleChange("mect", e.target.value, "metering_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="MEPT"
                validateStatus={error["mept"] ? "error" : ""}
                help={error["mept"]}
                required className="m-0">
                <Input placeholder="MEPT" value={get(consumerData, "metering_details.mept", "")} onChange={(e) => handleChange("mept", e.target.value, "metering_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Meter CT"
                validateStatus={error["meterct"] ? "error" : ""}
                help={error["meterct"]}
                required className="m-0">
                <Input placeholder="Meter CT" value={get(consumerData, "metering_details.meterct", "")} onChange={(e) => handleChange("meterct", e.target.value, "metering_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Meter PT"
                validateStatus={error["meterpt"] ? "error" : ""}
                help={error["meterpt"]}
                required className="m-0">
                <Input placeholder="Meter PT" value={get(consumerData, "metering_details.meterpt", "")} onChange={(e) => handleChange("meterpt", e.target.value, "metering_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Dial Factor" className="m-0">
                <Input placeholder="Dial Factor" value={get(consumerData, "metering_details.dial_factor", "")} onChange={(e) => handleChange("dial_factor", e.target.value, "metering_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Seal 1" required className="m-0">
                <Input maxLength={10} placeholder="Seal 1" value={get(consumerData, "metering_details.seal1", "")} onChange={(e) => handleChange("seal1", e.target.value, "metering_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Seal 2" className="m-0">
                <Input maxLength={10} placeholder="Seal 2" value={get(consumerData, "metering_details.seal2", "")} onChange={(e) => handleChange("seal2", e.target.value, "metering_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Seal 3" className="m-0">
                <Input maxLength={10} placeholder="Seal 3" value={get(consumerData, "metering_details.seal3", "")} onChange={(e) => handleChange("seal3", e.target.value, "metering_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Seal 4" className="m-0">
                <Input maxLength={10} placeholder="Seal 4" value={get(consumerData, "metering_details.seal4", "")} onChange={(e) => handleChange("seal4", e.target.value, "metering_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Seal 5" className="m-0">
                <Input maxLength={10} placeholder="Seal 5" value={get(consumerData, "metering_details.seal5", "")} onChange={(e) => handleChange("seal5", e.target.value, "metering_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Seal 6" className="m-0">
                <Input maxLength={10} placeholder="Seal 6" value={get(consumerData, "metering_details.seal6", "")} onChange={(e) => handleChange("seal6", e.target.value, "metering_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Seal 7" className="m-0">
                <Input maxLength={10} placeholder="Seal 7" value={get(consumerData, "metering_details.seal7", "")} onChange={(e) => handleChange("seal7", e.target.value, "metering_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Seal 8" className="m-0">
                <Input maxLength={10} placeholder="Seal 8" value={get(consumerData, "metering_details.seal8", "")} onChange={(e) => handleChange("seal8", e.target.value, "metering_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Initial Reading" required className="m-0">
                <Input
                  type="Number"
                  placeholder="Initial Reading"
                  value={get(consumerData, "metering_details.initialreading", "")}
                  onChange={(e) => handleChange("initialreading", e.target.value, "metering_details")}
                />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Communication" required className="m-0">
                <Select
                  placeholder="Communication"
                  allowClear
                  className="w-100"
                  loading={get(isDropDownLoading, "communication", false)}
                  value={communicationList.length > 0 ? get(consumerData, "metering_details.comm_id", null) : get(props, "record.comm_name", null)}
                  onChange={(val) => handleChange("comm_id", val, "metering_details")}
                  onDropdownVisibleChange={() => {
                    if (communicationList.length === 0) {
                      let loadingItems = { ...isDropDownLoading };
                      loadingItems["communication"] = true;
                      setIsDropDownLoading(loadingItems);
                      getCommunicationList();
                    }
                  }}
                >
                  {communicationList.map((list, index) => {
                    return (
                      <Select.Option value={get(list, "comm_id")} key={get(list, "comm_id")}>
                        {get(list, "communication_name")}
                      </Select.Option>
                    );
                  })}
                </Select>
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Operation" required className="m-0">
                <Select
                  placeholder="Operation"
                  allowClear
                  className="w-100"
                  loading={get(isDropDownLoading, "operations", false)}
                  value={operationList.length > 0 ? get(consumerData, "metering_details.operationid", null) : get(props, "record.operationname", null)}
                  onChange={(val) => handleChange("operationid", val, "metering_details")}
                  onDropdownVisibleChange={() => {
                    if (operationList.length === 0) {
                      let loadingItems = { ...isDropDownLoading };
                      loadingItems["operations"] = true;
                      setIsDropDownLoading(loadingItems);
                      getOperationList();
                    }
                  }}
                >
                  {operationList.map((list, index) => {
                    return (
                      <Select.Option value={get(list, "operationid")} key={get(list, "operationid")}>
                        {get(list, "oname")}
                      </Select.Option>
                    );
                  })}
                </Select>
              </Form.Item>
            </Col>
          </Row>
        </Form>
      </Spin>
    </Card>
  );
};

const OtherDetails = (props) => {
  let { consumerData, updateConsumerDataData, handleValidation, error } = props;
  const [organizationList, setOrganizationList] = React.useState([]);
  const [subStationsList, setSubStationsList] = React.useState([]);
  const [feederList, setFeederList] = React.useState([]);
  const [dtrList, setDTRList] = React.useState([]);
  const [supplyVoltageList, setSupplyVoltageList] = React.useState([]);
  const [dcuList, setDCUList] = React.useState([]);
  const [todList, setTODList] = React.useState([]);

  const [isDropDownLoading, setIsDropDownLoading] = React.useState({
    organization: false,
    sub_station: false,
    feeder: false,
    dtr: false,
    supply_voltage: false,
    tod: false,
    dcu: false,
  });

  const handleChange = React.useCallback((name, value, deepKey) => {
    let newValues = { ...consumerData };
    newValues[deepKey][name] = value;
    handleValidation(name, value, deepKey);

    if (name === "substationid") {
      setFeederList([]);
      setDTRList([]);
      newValues[deepKey]["feederid"] = null;
      newValues[deepKey]["nwid"] = null;
      if (value) {
        let loadingItems = { ...isDropDownLoading };
        loadingItems["feeder"] = true;
        setIsDropDownLoading(loadingItems);
        const getParentID = find(subStationsList, function (o) {
          return get(o, "nwid") === value;
        });
        getNetworkListById(2, get(getParentID, "parentid"));
      }
    }

    if (name === "feederid") {
      setDTRList([]);
      newValues[deepKey]["nwid"] = null;
      if (value) {
        let loadingItems = { ...isDropDownLoading };
        loadingItems["dtr"] = true;
        setIsDropDownLoading(loadingItems);
        const getParentID = find(feederList, function (o) {
          return get(o, "nwid") === value;
        });
        getNetworkListById(3, get(getParentID, "parentid"));
      }
    }

    if (name === "isdcu") {
      if (!value) {
        newValues[deepKey]["dcuid"] = null;
      }
    }
  });

  const getOrganizationList = async () => {
    const requestPayload = {
      org_level_id: 5,
    };
    const organizationListArr = await getDataSource(API_PATH.Configuration.Organization.getAllOrganizationList, requestPayload);
    let loadingItems = { ...isDropDownLoading };
    loadingItems["organization"] = false;
    setIsDropDownLoading(loadingItems);
    setOrganizationList(get(organizationListArr, "data.data", []));
  };

  const getSubStationList = async () => {
    const requestPayload = {
      nw_level_id: 1,
    };
    const subStationListArr = await getDataSource(API_PATH.Configuration.Network.getAllNetworkList, requestPayload);
    let loadingItems = { ...isDropDownLoading };
    loadingItems["sub_station"] = false;
    setIsDropDownLoading(loadingItems);
    setSubStationsList(get(subStationListArr, "data.data", []));
  };

  const getNetworkListById = async (nw_level_id, parent_id, custom) => {
    const requestPayload = {
      nw_level_id,
      parent_id,
    };

    if (nw_level_id === 3) {
      requestPayload["pageNumber"] = 1;
      requestPayload["pageSize"] = 100;
      if (get(custom, "nwname")) {
        requestPayload["nwname"] = get(custom, "nwname");
      }
    }

    const listArr = await getDataSource(API_PATH.Configuration.Network.getAllNetworkList, requestPayload);

    if (nw_level_id === 2) {
      let loadingItems = { ...isDropDownLoading };
      loadingItems["feeder"] = false;
      setIsDropDownLoading(loadingItems);
      setFeederList(get(listArr, "data.data", []));
    }

    if (nw_level_id === 3) {
      let loadingItems = { ...isDropDownLoading };
      loadingItems["dtr"] = false;
      setIsDropDownLoading(loadingItems);
      setDTRList(get(listArr, "data.data", []));
      if (get(custom, "nwname")) {
        return get(listArr, "data.data", []).map((o) => {
          return {
            label: get(o, "nwname"),
            value: get(o, "nwid"),
          };
        });
      }
    }
  };

  const getSupplyVoltageList = async () => {
    const supplyVoltageListArr = await getDetails(API_PATH.Master.supplyVoltage);
    let loadingItems = { ...isDropDownLoading };
    loadingItems["supply_voltage"] = false;
    setIsDropDownLoading(loadingItems);
    setSupplyVoltageList(supplyVoltageListArr);
  };

  const getTODList = async () => {
    const todListArr = await getDetails(API_PATH.Configuration.Master.TOD.getList);
    let loadingItems = { ...isDropDownLoading };
    loadingItems["tod"] = false;
    setIsDropDownLoading(loadingItems);
    setTODList(get(todListArr, "data", []));
  };

  const getDCUList = async () => {
    const dcuListArr = await getDetails(API_PATH.Master.dcu);
    let loadingItems = { ...isDropDownLoading };
    loadingItems["dcu"] = false;
    setIsDropDownLoading(loadingItems);
    setDCUList(dcuListArr);
  };

  return (
    <Card
      bordered={false}
      className="mt-3 mb-3"
      hoverable
      title={
        <Typography.Title level={5} className="m-0 font-weight-bold">
          Other Details
        </Typography.Title>
      }
    >
      <Spin spinning={props.isLoading}>
        <Form name="customized_form_controls" className="w-100 mt-0" layout="vertical">
          <Row gutter={[16, 16]}>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Organization" required className="m-0">
                <Select
                  placeholder="Operation"
                  allowClear
                  labelInValue
                  className="w-100"
                  loading={get(isDropDownLoading, "organization", false)}
                  value={organizationList.length > 0 ? get(consumerData, "other_details.orgid", null) : get(props, "record.orgname", null)}
                  onChange={(val) => handleChange("orgid", val, "other_details")}
                  onDropdownVisibleChange={() => {
                    if (organizationList.length === 0) {
                      let loadingItems = { ...isDropDownLoading };
                      loadingItems["organization"] = true;
                      setIsDropDownLoading(loadingItems);
                      getOrganizationList();
                    }
                  }}
                >
                  {organizationList.map((list, index) => {
                    return (
                      <Select.Option value={get(list, "orgid")} key={get(list, "orgid")}>
                        {get(list, "orgname")}
                      </Select.Option>
                    );
                  })}
                </Select>
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Sub Station" required className="m-0">
                <Select
                  placeholder="Sub Station"
                  allowClear
                  className="w-100"
                  showSearch
                  labelInValue
                  filterOption={(input, option) => (option?.children ?? "").toLowerCase().includes(input.toLowerCase())}
                  loading={get(isDropDownLoading, "sub_station", false)}
                  value={subStationsList.length > 0 ? get(consumerData, "other_details.substationid", "") : get(props, "record.substationname", null)}
                  onChange={(val) => handleChange("substationid", val, "other_details")}
                  onDropdownVisibleChange={() => {
                    if (subStationsList.length === 0) {
                      let loadingItems = { ...isDropDownLoading };
                      loadingItems["sub_station"] = true;
                      setIsDropDownLoading(loadingItems);
                      getSubStationList();
                    }
                  }}
                >
                  {subStationsList.map((list, index) => {
                    return (
                      <Select.Option value={get(list, "nwid")} key={get(list, "nwid")}>
                        {get(list, "nwname")}
                      </Select.Option>
                    );
                  })}
                </Select>
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Feeder" required className="m-0">
                <Select
                  placeholder="Feeder"
                  allowClear
                  className="w-100"
                  showSearch
                  filterOption={(input, option) => (option?.children ?? "").toLowerCase().includes(input.toLowerCase())}
                  value={feederList.length > 0 ? get(consumerData, "other_details.feederid", "") : get(props, "record.feedername", null)}
                  disabled={feederList.length === 0}
                  loading={get(isDropDownLoading, "feeder", false)}
                  onChange={(val) => handleChange("feederid", val, "other_details")}
                >
                  {feederList.map((list, index) => {
                    return (
                      <Select.Option value={get(list, "nwid")} key={get(list, "nwid")}>
                        {get(list, "nwname")}
                      </Select.Option>
                    );
                  })}
                </Select>
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="DTR" required className="m-0">
                <ServerSideSearch
                  placeholder="DTR"
                  handleChange={(val) => handleChange("nwid", val, "other_details")}
                  value={dtrList.length > 0 ? get(consumerData, "other_details.nwid", "") : get(props, "record.dtrname", null)}
                  disabled={dtrList.length === 0}
                  loading={get(isDropDownLoading, "dtr", false)}
                  fetchResult={(val) => getNetworkListById(3, get(consumerData, "feeder"), { nwname: val })}
                />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Nearest Account ID" className="m-0">
                <Input placeholder="Nearest Account ID"
                  value={get(consumerData, "other_details.nearest_accountid", "")}
                  onChange={(e) => handleChange("nearest_accountid", e.target.value, "other_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Nature of Business" className="m-0">
                <Input placeholder="Nature of Business"
                  value={get(consumerData, "other_details.natureofbusiness", "")}
                  onChange={(e) => handleChange("natureofbusiness", e.target.value, "other_details")} />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item
                label="Latitude"
                validateStatus={error["latitude"] ? "error" : ""}
                help={error["latitude"]}
                required
                className="m-0"
              >
                <Input
                  maxLength={3}
                  placeholder="Latitude"
                  onChange={(e) => handleChange("latitude", e.target.value, "other_details")}
                />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item
                label="Longitude"
                validateStatus={error["longitude"] ? "error" : ""}
                help={error["longitude"]}
                required
                className="m-0"
              >
                <Input
                  maxLength={4}
                  placeholder="Longitude"
                  onChange={(e) => handleChange("longitude", e.target.value, "other_details")}
                />
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Supply Voltage" required className="m-0">
                <Select
                  placeholder="Supply Voltage"
                  allowClear
                  className="w-100"
                  loading={get(isDropDownLoading, "supply_voltage", false)}
                  value={supplyVoltageList.length > 0 ? get(consumerData, "other_details.supply_vtg_id", null) : get(props, "record.supply_vtg_name", null)}
                  onChange={(val) => handleChange("supply_vtg_id", val, "other_details")}
                  onDropdownVisibleChange={() => {
                    if (supplyVoltageList.length === 0) {
                      let loadingItems = { ...isDropDownLoading };
                      loadingItems["supply_voltage"] = true;
                      setIsDropDownLoading(loadingItems);
                      getSupplyVoltageList();
                    }
                  }}
                >
                  {supplyVoltageList.map((list, index) => {
                    return (
                      <Select.Option value={get(list, "supply_vtg_id")} key={get(list, "supply_vtg_id")}>
                        {get(list, "supply_vtg")}
                      </Select.Option>
                    );
                  })}
                </Select>
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="TOD" required className="m-0">
                <Select
                  placeholder="TOD"
                  allowClear
                  className="w-100"
                  loading={get(isDropDownLoading, "tod", false)}
                  value={todList.length > 0 ? get(consumerData, "other_details.tod_id", null) : get(props, "record.tod", null)}
                  onChange={(val) => handleChange("tod_id", val, "other_details")}
                  onDropdownVisibleChange={() => {
                    if (todList.length === 0) {
                      let loadingItems = { ...isDropDownLoading };
                      loadingItems["tod"] = true;
                      setIsDropDownLoading(loadingItems);
                      getTODList();
                    }
                  }}
                >
                  {todList.map((list, index) => {
                    return (
                      <Select.Option value={get(list, "tod_id")} key={get(list, "tod_id")}>
                        {get(list, "tod")}
                      </Select.Option>
                    );
                  })}
                </Select>
              </Form.Item>
            </Col>
            <Col xs={{ span: 24 }} md={{ span: 4 }}>
              <Form.Item label="Is DCU?" className="m-0">
                <Switch
                  checkedChildren={<CheckOutlined />}
                  checked={get(consumerData, "other_details.isdcu", false)}
                  unCheckedChildren={<CloseOutlined />}
                  onChange={(checked) => handleChange("isdcu", checked, "other_details")}
                />
              </Form.Item>
            </Col>
            {get(consumerData, "other_details.isdcu", false) && (
              <Col xs={{ span: 24 }} md={{ span: 4 }}>
                <Form.Item label="DCU" className="m-0">
                  <Select
                    placeholder="DCU"
                    allowClear
                    className="w-100"
                    loading={get(isDropDownLoading, "dcu", false)}
                    value={dcuList.length > 0 ? get(consumerData, "other_details.dcuid", "") : get(props, "record.dcuname", null)}
                    onChange={(val) => handleChange("dcuid", val, "other_details")}
                    onDropdownVisibleChange={() => {
                      if (dcuList.length === 0) {
                        let loadingItems = { ...isDropDownLoading };
                        loadingItems["dcu"] = true;
                        setIsDropDownLoading(loadingItems);
                        getDCUList();
                      }
                    }}
                  >
                    {dcuList.map((list, index) => {
                      return (
                        <Select.Option value={get(list, "dcuid")} key={get(list, "dcuid")}>
                          {get(list, "dcu")}
                        </Select.Option>
                      );
                    })}
                  </Select>
                </Form.Item>
              </Col>
            )}
          </Row>
        </Form>
      </Spin>
    </Card>
  );
};

export default AddConsumer;
